page-details {
    .card{
        margin-bottom: 10px;
        width: 100%;
        box-shadow: none;
    }
    .card-content{
        font-size: 1.2rem;
    }
    .button-default{
        height: 1.8em;
        font-family: 1.3rem;
        float: right;
        display: block;
        margin: 3px;
        padding: 0 0.9em;
    }
    .card p{
        margin-top: 10px;
    }
    .answer_date{
        float: right;
    }
}
