<ion-header>
  <ion-navbar>
    <ion-title>{{chatUserName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="message-wrap">
    <!-- 样式动态控制;当前用户和聊天对象文本展示的样式 -->
    <div class="message" 
      *ngFor="let m of messageList" 
      [class.left]="m.userId === chatUserId"
      [class.right]="m.userId === userId"
    >
      <img [src]="m.userImgUrl" class="user-img">
      <!-- 模拟发送消息等待; 档状态为 pending -->
      <ion-spinner name="dots" *ngIf="m.status ==='pending'"></ion-spinner>
      <!-- 又将 class 写错 clss -->
      <div class="msg-detail">
        <div class="msg-info">
          <!-- Non-Breaking Space 不间断空格 pipes用法-->
          <!-- 时间转化  relativetime -->
          <p>{{m.userName}}&nbsp;{{m.time | relativetime}}</p>
        </div>
        <div class="msg-content">
          <p class="line-breaker">{{m.message}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- style="height:55px; angular 中通过 [style.height] 判断实现动态 height -->
<ion-footer no-border [style.height]="isOpenEmojiPicker? '255px':'55px'">
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-2>
        <button ion-button clear ion-only item-right (click)="switchEmojiPicker()">
          <ion-icon name="md-happy"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
          <!-- #chatInput 后台直接拿到 DOM节点 -->
        <ion-textarea 
          #chatInput 
          [(ngModel)]="editorMessage" 
          (keyup.enter)="sendMessage()" 
          (focus)="focus()"
          placeholder="输入内容">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear ion-only item-right (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- angular 通过 *ngIf 让控件是否显示 -->
  <emojipicker *ngIf="isOpenEmojiPicker" [(ngModel)]="editorMessage"></emojipicker>
</ion-footer>
